.border-box {
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 1em;
  padding: 1em;
  background-color: white;
  margin-left: 15em;
  margin-right: 15em;
}

.col-md-12 {
  background-color: #E2F2EE;
}

.navbar {
  background-color: white;
}

.form-group{
  padding: 0.25em;
}
